
    
    <!-- Using Bootstrap Modal to take user input i.e when creating a new issue-->

    <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a new Issue</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <!-- here is the form that receives the user input -->
             <form action="/issues/createIssue/<%=project._id%>" method="post">
    
              <!-- filling title of an issue -->
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Issue Title</span>
                  <input type="text" class="form-control" id="basic-url" name="title" aria-describedby="basic-addon3" required>
                </div>
    
                <!-- filling Description for an issue -->
                <div class="input-group mb-3">
                  <span class="input-group-text">Description</span>
                  <textarea class="form-control" aria-label="With textarea" name="description" required></textarea>
                </div>
                
                  <!-- filling author for issue -->
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="author" aria-label="author" name="author" aria-describedby="basic-addon1" required>
                  </div>
      

                <!-- selecting labels for issues -->
                
                 
                 
                  <div class="input-group mb-3 filterByLabel">
                     <span class="input-group-text" id="basic-addon3">Labels</span>
                  <!--  -->
                  <select class="js-select2 form-control " style="width:80%" multiple="multiple">
                      <option selected="selected">orange</option>
                      <% for(label of labels){%>
                        <option value="<%=label%>"><%=label%></option>
                        <%}%>
                      
                    </select>
                  </div>

                  
                  
                  <!-- <input type="text" class="form-control" id="basic-url" name="labels" aria-describedby="basic-addon3" multiple required placeholder="Enter labels separated by , eg open,resolved"> -->
                
    
              
                <!-- creating buttons to close and save form data -->
              </div>
              <div class="modal-footer">
                <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button  type="submit" class="btn btn-primary" >Create</button>
              </div>
    
          </form>
          <!-- form ends here -->
          </div>
        </div>
      </div>
    
       <!-- Button used to trigger modal -->
       
      <button id="createIssueBtn" type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
       New Issue
      </button>

