<html >
<head>
    
</head>
<body>
  <div class="showProjectsDiv">
    <ul class="list">
        <% for(project of projects){%>
            <li>
                <div class="projectName">
                    <%=project.name%>
                </div>
                <div class="openProject">
                  <a href="/projects/view/<%=project._id%>" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-folder-open"></i>
                  </a>
                    
                </div>
            </li>
        <%}%>
    </ul>
  </div>
    
    
   

  
  <!-- Modal -->

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <!-- form here -->
         <form action="/home/createProject" method="post">

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">project Name</span>
              <input type="text" class="form-control" id="basic-url" name="name" aria-describedby="basic-addon3" required>
            </div>
            
            <div class="input-group mb-3">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" aria-label="With textarea" name="description" required></textarea>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="author" aria-label="author" name="author" aria-describedby="basic-addon1" required>
            </div>

        

          </div>
          <div class="modal-footer">
            <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" >Save</button>
          </div>

      </form>
      <!-- form ends here -->


      </div>
    </div>
  </div>

   <!-- Button trigger modal -->
   
  <button id="addProjectBtn" type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   Add new Project
  </button>

    <script src="js/projects.js"></script>
</body>
</html>



