.projectDetails{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2%;

}

/*  */

.filterOptsDiv{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    border-radius: 6px;
    display: flex;
    align-items: baseline;
    
    
}

/*  */

.issuesDiv{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    text-transform: capitalize;
}


/* css for create issue btn */
#createIssueBtn{
    position: absolute;
    top: 19%;
}

/* css for search bar div */
.searchByTitle{
   width: 35%;
}

/* table css */

#myInput {
    
    width: 85%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }